nav {
  display: flex;
  height: 7vh;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  width: 220px;
  height: 8vh;
  
}

.dropdown {
  padding-right: 20px;
  padding-left: 150px;
}

.search {
  padding-right: 20px;
}

.space {
  padding-right: 420px;
}

.logo_img {
  padding-right: 320px;
  height: 8vh;
}

.btn {
  background-color: #567b95;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.gun {
  width: 400px;
  font-size: 30px;
  font-weight: bold;
}

.icons_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.fa-facebook,
.fa-twitter-square,
.fa-envelope,
.fa-share,
.fa-sign-in-alt {
  padding-right: 25px;
}

.icons {
  padding-right: 155px;
}

.man_container {
  display: flex;
  justify-content: center;
}

.man_container img {
  width: 1000px;
}

.man_about {
  display: flex;
  justify-content: center;
}

.man_text {
  width: 1000px;
  color: #6679a4;
}

.article {
  margin-top: 40px;
  width: 800px;
}

.wording {
  padding-left: 500px;
  width: 1000px;
}

.break::after {
  content: "\a\a";
  white-space: pre;
}

.date {
  padding-bottom: 15px;
}

.inflation {
  font-weight: 600;
}

.discription {
  font-size: 0.85rem;
  color: #8c6679;
}
